# R History and Data
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Renviron
.Rprofile
.Rproj.user/
*.Rproj

# R Markdown / knitr / LaTeX build files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.lof
*.lot
*.bcf
*.run.xml

# macOS Folder Attributes
.DS_Store

# Windows Thumbnail Cache
Thumbs.db
